<!DOCTYPE html>
<html>
<head>
<title>NewExamPlatForm - ホーム</title>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/home.css">
</head>
<body>
	<header>
		<div class = "d-flex  col-12 w-100 h-100">
			<div class = "col-4">
				<h1 class = "">NewExamPlatForm</h1>
			</div>
			
			<div class = " col-8 ">
				<nav>
					<ul class = "main_nav  justify-content-end">
        					<li><a href="#">ホーム</a></li>
        					<li><a href="#">検索</a></li>
        					<li><a href="#">マイページ</a></li>
        			</ul>
        		</nav>
			</div>
			
		</div>
	</header>
</body>
</html>