<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>NewExamPratForm - ログイン</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/login.css">
</head>
<body>
<main>
<div id = "main_box " data-title="Login" class = "h-100">

<div class="container mt-2">
    <div class="row justify-content-md-center h-auto">
        <div class="col-md-4">
            <h1 class = "mb-5 text-center font-weight-bold">ログイン</h1>
            <form th:action="@{/ExamPlatform/Login}" method="post">
                <div class="form-group">
                    <label for="username" class = "font-weight-bold">ユーザー名</label>
                    <input type="text" class="form-control" id="username" name="username">
                </div>
                <div class="form-group">
                    <label for="password" class = "font-weight-bold  mt-3">パスワード</label>
                    <input type="password" class="form-control" id="password" name="password">
                </div>
                
                <div class="d-flex justify-content-center align-items-center">
                 <input  type = "submit" id = "login" class = "btn btn-white  font-weight-bold mt-4" value = "ログイン"> 
                </div>
            </form>
            
            <form action="#" method = "get">
				<div class="d-flex justify-content-center align-items-center">
                <input  type = "submit" id = "login" class = "btn btn-white  font-weight-bold mt-4" value = "アカウントをお持ちではないですか？"> 
                </div>
			</form>
        </div>
    </div>  
</div>

</div>
</main>
<!-- Bootstrap JS CDN -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"
        integrity="sha384-o+RDsa0aLu++PJvFqyfFScvbHFLtbvScbFYYLb4I5Ry5jkkz6t0Uu7XwV+nUTJjF"
        crossorigin="anonymous"></script>

</body>
</html>