<!DOCTYPE html>
<html>
<head>
<title>ExamPlatform - ホーム</title>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/mypage.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
</head>
<body>
	<header>
		<div class = "header_box container-fluid ">
			<div class = "col-12 row align-items-center ">
				<div class = "col-8">
						<h1 class = "title ml-5">ExamPlatform</h1>
				</div>
				<div class = "col-4 text-right ">
				<a class="btn btn-primary mr-5" href="#" role="button">ログイン</a>
				</div>
			</div>
			<div class = "container col-12 mt-3">
				<nav>
					<ul class = "nav main_nav justify-content-center text-nowrap">
        					<li><a href="#">　ホーム　</a></li>
        					<li><a href="#">　検索　</a></li>
        					<li><a href="#">マイページ</a></li>
        			</ul>
        		</nav>
			</div>
		</div>
	</header>
<body>
	<h2 class="text-center mt-5">マイページ</h1>
	<div id = "main_box"class="container-field">
	<div class = "root_1  container d-flex w-auto h-auto">
			<div class="r1_item_1 col-4 mt-5">
			<span>
				<img src="/img/icon.png"height="220" width="220" alt="User Icon">
			</span>
			</div>
			<div class="r1_item_2 col-4 mt-5">
				<p>ユーザID : <span class="user" th:text="${user.userName}"></span></p>
				<br/><a class = "UpdAccount" href = "#" >アカウント設定</a>
			</div>
			<div class="r1_item_3 col-4 mt-5">
				<p><span class="user" th:text="${user.profile}"></span></p>
			</div>
	</div>
	</div>

</body>
</html>