@charset "UTF-8";

.main_nav{
    display: flex;
    font-size: 2.25rem;
    cursor: pointer;
    text-transform: uppercase;
    margin-top: 30px;
    list-style: none;
    transition: 0.3s;
    transform: scale(1);
}

.main_nav:hover{
    transition: 0.3s;
    transform: scale(1.1);
}

.main_nav li{
    margin-left: 60px;
    list-style: none;
    display: inline-block;
}

.main_nav a {
    color: #000;
    opacity: 1;
    transition: color 0.2s ease-out;
}

.main_nav a:hover{
    color:rgb(15, 230, 230);
    opacity: 0.5;
}