@charset "UTF-8";

@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

@keyframes fadeIntext{
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }
  
header{
	width: auto;
	height: 240px;	
}

body{
	font-family: 'Zen Antique', serif;
}

h1{
	font-family: 'Merriweather', serif;
	font-size: 74px;
	margin-top: 2%;
	color: white;
	animation: fadeIn 7.5s cubic-bezier(0.33, 1, 0.68, 1) 1 forwards;
	position: relative;
	line-height: 1.0;
	background: linear-gradient(transparent 60%, #00ffff 70%);
    -webkit-box-reflect: below -10px -webkit-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0) 10%,rgba(0, 0, 0, 0.6));
}

h2{
	font-family: 'Zen Antique', serif;
	font-size: 48px;
	border-bottom: #000 solid 3px;
}

.link{
	font-family: 'Zen Antique', serif;
	font-size: 24px;
}

.r1_item_2{
	font-family: 'Zen Antique', serif;
	font-size: 24px;
}

.btn {
    padding: 1rem 2rem;
    border:skyblue;
    border-radius: 1rem;
    cursor: pointer;
    background-image: radial-gradient(circle at 40% 0, gray 0%, gray 70%, #00c6ff 90%, #00c6ff 100%);
    background-size: 100% 400%;
    background-repeat: no-repeat;
    background-position: 50% 0%;
    color: #fff;
    font-size: 32px;
    font-weight: bold;
    font-family: 'Noto Serif JP', serif;
    margin-top: 4%;
    transition: all 1.5s;
    animation: fadeIn 7.5s cubic-bezier(0.33, 1, 0.68, 1) 1 forwards;
}

.btn:hover {
    background-position: 50% 100%;
}

.header_box{
	background-image:url(/img/header.png);
    background-attachment: fixed;
    background-size: cover;
    max-width: 100%;
    width: 100%;
    height: 100%;
}

.main_nav{
    display: flex;
    font-family: 'Zen Antique', serif;
    font-weight: bold;
    font-size: 46px;
    cursor: pointer;
    text-transform: uppercase;
    list-style: none;
    transition: 0.3s;
    transform: scale(1);
    animation: fadeIn 6s cubic-bezier(0.33, 1, 0.68, 1) 1 forwards;
    margin-top: 3%
}

.main_nav:hover{
    transition: 0.3s;
    transform: scale(1.1);
}

.main_nav li{
    margin-left: 60px;
    list-style: none;
    display: inline-block;
}

.main_nav a {
    color: white;
    opacity: 1;
    transition: color 0.2s ease-out;
}

.main_nav a:hover{
    color:#00ffff;
    border-bottom: #00ffff solid 15px;
}

#main_box{
	position: relative;
	margin: 5%;
    padding: 2rem;
    border-radius: 10px;
    border: 3px solid rgb(192, 192, 192);
    box-shadow: 5px 5px 0 rgb(192, 192, 192);
    color: rgb(0, 0, 0);
}

.exam_box{
    position: relative;
    padding: 1rem;
    border-top: 28px dotted rgb(0, 255, 255);
    background-image: linear-gradient(-45deg, transparent 10px, #efefef 10px);
    color: #212121;
    overflow: hidden;
}

.exam_box::before {
    position: absolute;
    content: '';
    right: 0px;
    bottom: 0px;
    border-width: 0px 0px 40px 50px;
    border-style: solid;
    border-color: transparent transparent transparent rgb(0, 255, 255);
    box-shadow: 0 0 5px #000;
}

.exam_box p {
    color: #333;
    line-height: 1.5;
}

.createexamName{
	font-size: 24px;
}